.App {
  height: 100%;
}

.App-header {
  background-color: #3A3238;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #F5E3E0;
  padding: 10px;
}

.App-button {
  background-color: #F5E3E0;
  padding: 10px;
  border-radius: 7px;
  border: 0;
  font-size: 1.2rem;
  color: #3A3238;
  cursor: pointer;
}

.App-button:focus {
  outline: 0;
}

.App-input {
  border: 0;
  padding: 10px;
  border-radius: 7px;
  font-size: 1.2rem;
  background-color: #F5E3E0;
  color: #3A3238;
}

.App-input:focus {
  outline: 0;
}

.App-card {
  width: 300px;
  background-color: #3A3238;
  color:  #F5E3E0;
  border-radius: 7px;
  margin: 20px 0px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.App-tags {
  margin: 10px;
  color: #D282A6;
  background: #3a3238;
  padding: 10px;
  border-radius: 20px;
  width: fit-content;
}